.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:3rem 0;
    height: calc(100% - 6rem);
}
.wrapperImg{
    display: flex;
}
.wrapperImg img{
    width: 95%;
}


.wrapperImgLeft ,
.wrapperImgRight{
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapperImgLeft{
    flex: 1;
}
.wrapper video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.wrapper .mask{
    width: 100%;
    height: 100%;
    background-color: #044EB7BB;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
}
.wrapperImg{
    position: relative;
    z-index: 3;
}