.fixedLink{
    position: fixed;
    right: 20px;
    top: 20px;
}
.fixedLink img{
    position: relative;
    width: 2.4rem;
    margin: 0 .2rem;
    top: 0;
    transition: all .3s;
    cursor: pointer;
}
.fixedLink img:hover{
    top: -10px;
}