.roleContainer{
    position: relative;
    width: 70%;
    text-align: center;
}

.roleContainer .bg{
    animation-name:rotateBg;
    animation-duration:3s;
    animation-iteration-count : infinite;
    animation-timing-function : linear;
    position: absolute;
    width: 100%;
}
@keyframes rotateBg{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.roleContainer .role{
    animation-name:jump;
    animation-duration:0.5s;
    animation-iteration-count : infinite;
    animation-direction : alternate-reverse;
    width: 70%;
    margin-left: 15%;
}
@keyframes jump{
    from{
        transform: translateY(0px)
    }
    to{
        transform: translateY(-30px);
    }
}